<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/css/style.css">
  <title>Document</title>
</head>

<body>
  <h1>Generar Cotización legal</h1>
  <!-- formulario de base de datos -->
  <form id="cotizacionForm">
    <label for="nombre">Nombre del cliente</label>
    <input type="text" name="nombre" placeholder="nombre del cliente" required>
    <label for="nombre">Correo Electrónico</label>
    <input type="email" name="email" placeholder="correo@gmail.com" required>
    <label for="servicio">Tipo de servicios</label>
    <select name="servicio" required>
      <option value="">Selecione un servicio ....</option>
      <option value="Constitucion_de_empresa">Constitución de empresa (S/ 1500)</option>
      <option value="Defensa_laboral">Defensa Laboral (S/ 2000)</option>
      <option value="Consultoria_tributaria">Consultoría tributaria (S/ 800)</option>
    </select>
    <label for="nombre">Descripción:</label> 
    <textarea name="descripcion" placeholder="Descripcion del caso" required></textarea>
    <button type="submit">Generar Cotización</button>
  </form>
  <div id="resultado"></div>
  <script src="/static/js/script.js"></script>
</body>

</html>